.header-wrapper {
    position: relative;
    z-index: 1;
}

.decor-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../assets/images/header_bg-full.jpg') center / cover
        no-repeat;
    z-index: -1;
}

.decor-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: #000000a9;
    z-index: 1;
}

.header {
    padding-top: 24px;
    text-align: center;
    width: 100%;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.nav-list li a {
    color: var(--light-color);
    line-height: 1.5;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: var(--secondary-color);
}

.logo-mobile__open {
    display: none;
}

.header-main {
    padding: 35vh 0;
}

.header-main__content {
    max-width: 560px;
}

.header-main__title {
    margin-bottom: 24px;
}

.header-main__content p {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.5;
}

.nav-button {
    display: none;
    background-color: unset;
}

.header-menu__btn {
    font-size: 30px;
    color: var(--light-color);
    transition: all 0.3s ease;
}

.header-menu__btn:hover {
    color: #b45361;
    text-shadow: var(--secondary-color) 1px 1px 14px;
}
