.testimonial {
    background-color: var(--primary-color);
}

.testimonial-slider {
    overflow: hidden;
}

.testimonial-slider__controls {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
}

.testimonial-row {
    display: flex;
}

.testimonial-card {
    min-width: 380px;
    padding: 5px;
    text-align: center;
}

.testimonial-card__image {
    max-width: 54px;
    height: 56px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 16px;
}

.testimonial-card__author {
    margin-bottom: 24px;
}

.testimonial-card__author h3 {
    font-weight: 700;
}

.testimonial-card__review {
    font-size: 20px;
}
